trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '8.x'

  - script: dotnet build --configuration Release
    displayName: 'Compilar proyecto'

  - script: dotnet test --configuration Release --no-build
    displayName: 'Ejecutar pruebas'